APP_NAME=Navigator
APP_IDENTIFIER=io.fleetbase.navigator
APP_LINK_PREFIX=flbnavigator
FLEETBASE_HOST=https://api-delivery.max.kg
FLEETBASE_KEY=$2y$10$CaqVTTfyZg9T5Awle5dNt.xH71jN3N92x0Ye458mq./x9ExqLza0K
GOOGLE_MAPS_API_KEY=
DEFAULT_COORDINATES=42.8746,74.5698
