APP_NAME=Delivery Max
APP_IDENTIFIER=io.fleetbase.navigator
APP_LINK_PREFIX=flbnavigator
FLEETBASE_HOST=https://api-delivery.max.kg
FLEETBASE_KEY="$2y$10$CaqVTTfyZg9T5Awle5dNt.xH71jN3N92x0Ye458mq./x9ExqLza0K"
GOOGLE_MAPS_API_KEY=
PUSH_NOTIFICATIONS_ENABLED=false
DEFAULT_COORDINATES=42.8746,74.5698
TRANSISTORSOFT_LICENSE_KEY=

MATRIX_ENABLED=false
MATRIX_HOMESERVER_URL=https://matrix.max.kg
MATRIX_AUTH_MODE=delegated_token
MATRIX_ACCESS_TOKEN=
MATRIX_USER_ID=
MATRIX_DEVICE_ID=
MATRIX_RECOVERY_KEY=
MATRIX_AUTO_RESTORE_RECOVERY_KEY=false
MATRIX_DELEGATED_AUTH_URL=
MATRIX_DELEGATED_AUTH_API_KEY=
MATRIX_USER_ID_PREFIX=driver_
MATRIX_SUPPORT_SPACE_ID=
MATRIX_SUPPORT_ROOM_ID=
MATRIX_SUPPORT_CALL_PHONE=
MATRIX_SYNC_TIMEOUT_MS=30000
MATRIX_POLL_INTERVAL_MS=10000
MATRIX_TIMELINE_LIMIT=50
MATRIX_UPLOAD_MAX_BYTES=26214400
MATRIX_E2EE_ENABLED=false
MATRIX_MANAGED_WORK_CHAT=true
MATRIX_REQUIRE_UNENCRYPTED_ROOMS=true
